{% extends 'base.html' %}
{% load static %}

{% block body %}
  

  
      <div class="main-wrap">
        <div class="cover_1">
          <div class="img_bg" style="background-image: url({% static 'site_static/img/slider-1.jpg' %})" data-stellar-background-ratio="0.5">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-md-12" data-aos="fade-up">
                  <h2 class="heading text-center">We’re always in the mood for food and<br>
                  The only thing we love more than food is you!</h2>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .cover_1 -->

        {% for obj in about_us %}
        
       <p class="text-center"> {{ obj.title }} </p>
        <p>{{ obj.content }}</p>

 <!-- Update -->
<p><button class="btn btn-block cardbutton" data-toggle="modal" data-target="#update">Update Details</button></p>
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modalback">
      <div class="modal-header">
        <h5 class="modal-title" id="updateTitle">Update Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="updateAboutus" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{obj.title}}" >
          </div>
           <div class="form-group">
            <label for="content">Content</label>
            <input type="text" class="form-control" id="content" name="content" value="{{obj.content}}" >
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" id="old_title" name="old_title" value="{{obj.title}}">
          </div>
           <div class="modal-footer">
            <button type="Submit" class="btn cardbutton btn-block">Submit</button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  {% endfor %}
  </div>

{% endblock body %}